$_primary_black: #121212;
$_primary_blackLight: #1e1e1f;
$_primary_gray: #9f9f9f;
$_primary_grayLight: #d6d6d6;
$_primary_grayLight70: rgba(214, 214, 214, 0.7);
$_primary_yellow: #ffdb70;
$_primary_white: #fff;
$_secondary_blackLight: #2b2b2c;
$_secondary_gray: #6b6b6b;
$_border_color: #383838;

$bg: $_primary_black;
$bg_primary: $_primary_blackLight;
$bg_secondary: $_secondary_blackLight;
$bg_selection: $_primary_yellow;
$bg_btn_primary: $_primary_yellow;
$bg_gradient_gray: linear-gradient(to bottom right, #3f3f40 3%, #303030 97%);
$bg_gradient_yellow: linear-gradient(to right, #ffdb70, #ffbb5c);

$border: $_border_color;
$border_gradient_gray: linear-gradient(
  to bottom right,
  #404040 0%,
  rgba(64, 64, 64, 0) 50%
);
$border_gradient_jet: linear-gradient(
    to bottom right,
    hsla(240, 1%, 18%, 0.251) 0%,
    hsla(240, 2%, 11%, 0) 100%
  ),
  hsl(240, 2%, 13%);

$text_primary: $_primary_grayLight;
$text_white: $_primary_white;
$text_selection: $_primary_black;
$text_secondary: $_primary_yellow;
$text_placeholder: $_secondary_gray;

$error: #c43333;
