@use "../../styles/settings/colors";
@use "../../styles/tools/helpers";

.loader {
  width: helpers.flowFromTo(40px, 60px);
  height: helpers.flowFromTo(40px, 60px);
  border-radius: 50%;
  border: 0.5vw solid rgba(0, 0, 0, 0.1);
  border-left-color: colors.$text_secondary;
  animation: loader 1s ease-out infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
