@use "./styles/tools/helpers";
@use "./styles/tools/media";

.app {
  display: flex;
  justify-content: center;
  padding: helpers.flowFromTo(12px, 60px) helpers.flowFromTo(12px, 25px);
  padding-bottom: 75px;

  @include media.from(xl) {
    padding-bottom: 60px;
  }

  .div {
    background-color: gray;
    border: 1px solid black;
  }
}
